body {
  font-family: 'roboto', sans-serif;
  margin: 0;
}

h1 {
  font-family: 'shrikhand', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.header_logo {
  padding: 10px 20px 5px 80px;
  height: 4vh;
}

.bloc-localisation {
  background-color: #eaeaea;
  display: flex;
}

.bloc-localisation .fa-map-marker-alt {
  padding: 20px 10px 5px 80px;
}

.bloc-presentation {
  background-color: #f6f6f6;
  padding: 10px 5px 35px 5px;
}

.bloc-presentation h2 {
  font-size: 1.4rem;
  padding-left: 55px;
}

.bloc-presentation p {
  padding-left: 35px;
}

.bloc-presentation button {
  border-radius: 20px;
  height: 7vh;
  margin-left: 65px;
  padding: 0 10px 0 10px;
  border: none;
  background-color: #FF79DA;
  color: white;
  font-weight: bold;
}

.bloc-fonctionnement h2 {
  font-size: 1.4rem;
  padding-left: 20px;
}

.bloc-fonctionnement .bloc-fonctionnement_liste li {
  border-radius: 20px;
  list-style-type: none;
  margin: 15px;
  height: 7vh;
  background-color: #f6f6f6;
  text-align: center;
  padding-top: 20px;
  width: 80%;
}

.bloc-fonctionnement .icone {
  padding: 0 20px 0 2px;
  color: grey;
}

.restaurants-liste {
  background-color: #f6f6f6;
  padding-bottom: 35px;
}

.restaurants-liste h2 {
  padding: 40px 0 0 10px;
}

.restaurants-liste article {
  border-radius: 20px;
  background-color: white;
  margin: 15px;
}

.restaurants-liste article img {
  height: 22vh;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

footer {
  background-color: #353535;
  color: white;
  padding-bottom: 13px;
}

footer .footer_logo {
  font-family: 'shrikhand';
  font-size: 0.8rem;
  padding: 10px 0 0 18px;
}

footer .footer_liste ul {
  list-style-type: none;
  padding: 13px;
}

footer .footer_liste li {
  padding: 5px;
}

footer .fa-utensils, footer .fa-hands-helping {
  padding: 0 10px 0 5px;
}
