body {
  font-family: 'roboto', sans-serif;
  margin: 0;
}

h1 {
  font-family: 'shrikhand', sans-serif;
}

h2 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

ul a {
  color: white;
}

.loader {
  position: fixed;
  z-index: 1;
  background-color: #353535;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: 'shrikhand';
  animation: loader cubic-bezier(0.39, 0.58, 0.57, 1) 3000ms forwards;
}

@media screen and (min-width: 1024px) {
  .loader {
    font-size: 4rem;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    z-index: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

.oh {
  color: #9356DC;
  animation: logo 2000ms 200ms backwards;
}

.my {
  color: #FF79DA;
  animation: logo 2000ms 600ms backwards;
}

.food {
  color: #99E2D0;
  animation: logo 2000ms 1000ms backwards;
}

.point {
  background: linear-gradient(0.25turn, #FF79DA, #9356DC, #99E2D0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: logo 2000ms 1400ms backwards;
}

@keyframes logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header {
  display: flex;
  justify-content: center;
}

header .header__logo {
  width: 150px;
  padding: 10px;
}

@media screen and (min-width: 600px) {
  header .header__logo {
    width: 200px;
  }
}

@media screen and (min-width: 600px) and (min-width: 1440px) {
  header .header__logo {
    width: 300px;
  }
}

header .fa-arrow-left {
  position: absolute;
  top: 2%;
  left: 5%;
  font-size: 1.2rem;
}

@media screen and (min-width: 1024px) {
  header .fa-arrow-left {
    font-size: 1.5rem;
  }
}

.localisation {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  padding: 14px 0 14px 0;
  box-shadow: inset 0 10px 5px -5px #d4d4d4;
}

.localisation form {
  text-align: center;
}

.localisation .fa-map-marker-alt {
  width: 10%;
}

.localisation .localisation__formulaire {
  border: none;
  background-color: #eaeaea;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  width: 65%;
}

.presentation {
  background-color: #f6f6f6;
  padding: 12px 0 70px 0;
  text-align: center;
}

.presentation p {
  font-size: 1.1rem;
  padding-bottom: 10px;
}

button {
  border-radius: 30px;
  padding: 17px;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  box-shadow: 5px 5px 10px #d4d4d4;
  transition: opacity 250ms;
}

button:hover {
  box-shadow: 5px 5px 10px #8f8d8d;
  opacity: 0.80;
}

.fonctionnement {
  padding-bottom: 20px;
  position: relative;
}

.fonctionnement h2 {
  padding: 20px 0 5px 20px;
}

@media screen and (min-width: 1024px) {
  .fonctionnement h2 {
    text-align: center;
    padding: 20px 0 5px 0;
  }
}

.fonctionnement .fonctionnement__option {
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
  background-color: #f6f6f6;
  font-weight: bold;
  box-shadow: 5px 5px 10px #d4d4d4;
}

.fonctionnement .fonctionnement__option:hover {
  background-color: #f5edff;
}

.fonctionnement .fonctionnement__option:hover .icone {
  color: #9356DC;
}

.fonctionnement .fonctionnement__numero {
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  font-size: 0.8rem;
  padding: 5px 8px 5px 8px;
}

.fonctionnement .icone {
  color: grey;
  padding: 0 25px 0 15px;
  margin-left: 20px;
}

@media screen and (min-width: 1024px) {
  .fonctionnement .fonctionnement__liste {
    display: flex;
    justify-content: space-around;
  }
  .fonctionnement .fonctionnement__option {
    width: 30%;
  }
  .fonctionnement .fonctionnement__numero {
    position: static;
    margin: -20px;
  }
}

.restaurants-liste {
  background-color: #f6f6f6;
  padding-bottom: 50px;
}

.restaurants-liste .restaurants-liste__h2 {
  padding: 40px 0 0 20px;
}

@media screen and (min-width: 1024px) {
  .restaurants-liste .restaurants-liste__h2 {
    width: 100%;
    text-align: center;
    padding: 40px 0 0 0;
  }
}

.restaurants-liste article {
  border-radius: 20px;
  background-color: white;
  margin: 15px;
  box-shadow: 5px 5px 10px #d4d4d4;
  position: relative;
}

.restaurants-liste article img {
  max-height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.restaurants-liste a {
  color: black;
}

@media screen and (min-width: 1024px) {
  .restaurants-liste {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  article {
    width: 40%;
  }
}

.restaurants-liste__titre h4 {
  margin: 0;
  padding: 10px 0 2px 12px;
}

.restaurants-liste__titre p {
  margin: 0;
  padding: 0 0 10px 12px;
}

.restaurants-liste__nouveau {
  position: absolute;
  background-color: #99E2D0;
  color: #0a8d6d;
  top: 15px;
  right: 10px;
  height: 30px;
  width: 80px;
  border-radius: 2px;
}

.restaurants-liste__nouveau p {
  margin: 0;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  font-size: 0.9rem;
}

.restaurants-liste__coeur {
  position: absolute;
  font-size: 1.5rem;
  right: 5px;
  bottom: 20px;
}

.restaurants-liste__coeur .full-heart {
  position: relative;
  right: 1.86rem;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform-origin: bottom;
  transform: scale(0);
  transition: 500ms ease-in;
  z-index: 1;
}

.restaurants-liste__coeur:hover .full-heart {
  transform: scale(1);
}

.restaurants-liste__coeur:hover .empty-heart {
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  background-color: #353535;
  color: white;
  padding-bottom: 5px;
}

footer .footer__logo {
  font-family: 'shrikhand';
  padding: 10px 0 0 23px;
}

footer .footer__liste ul {
  list-style-type: none;
  padding: 4px 0 13px 18px;
}

footer .footer__liste ul li {
  padding: 5px;
}

footer .footer__liste ul li:hover {
  color: #99E2D0;
}

footer .footer__liste ul li:hover a {
  color: #99E2D0;
}

footer .fa-utensils, footer .fa-hands-helping {
  padding: 0 10px 0 5px;
}

@media screen and (min-width: 1024px) {
  footer .footer__logo {
    padding: 10px 0 0 0;
  }
  footer .footer__logo h3 {
    text-align: center;
  }
  footer .footer__liste ul {
    display: flex;
    justify-content: space-around;
    padding: 4px 0 13px 0;
  }
}

@media screen and (min-width: 1440px) {
  footer .footer__logo {
    font-size: 1.4rem;
  }
}

.restaurant__img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

@keyframes apparition-menu {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.menu-restaurant {
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  padding: 20px 0 70px 12px;
  position: relative;
  bottom: 32px;
  margin-bottom: -40px;
}

.menu-restaurant__titre {
  font-size: 1.1rem;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .menu-restaurant__titre {
    font-size: 1.4rem;
    text-align: center;
  }
}

.menu-restaurant h3 {
  font-weight: 400;
  margin-bottom: 5px;
}

.menu-restaurant .bordure {
  background-color: #99E2D0;
  width: 50px;
  height: 0.2rem;
  margin-bottom: 20px;
}

.menu-restaurant__coeur {
  font-size: 1.5rem;
  position: absolute;
  top: 8px;
  right: 40px;
}

@media screen and (min-width: 1024px) {
  .menu-restaurant__coeur {
    right: 28%;
  }
}

.menu-restaurant__coeur .full-heart {
  position: relative;
  right: 1.86rem;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform-origin: bottom;
  transform: scale(0);
  transition: 500ms ease-in;
  z-index: 1;
}

.menu-restaurant__coeur:hover .full-heart {
  transform: scale(1);
}

.menu-restaurant__coeur:hover .empty-heart {
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-liste {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background-color: white;
  width: 95%;
  margin-bottom: 15px;
  box-shadow: 5px 5px 10px #d4d4d4;
  font-size: 0.9rem;
  overflow: hidden;
  animation: apparition-menu 2000ms backwards;
}

@media screen and (min-width: 1024px) {
  .menu-liste {
    width: 29%;
  }
}

.menu-liste .menu-liste__plats {
  white-space: nowrap;
  overflow: hidden;
}

.menu-liste .menu-liste--nom {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 12px 0 0 12px;
  margin: 3px;
}

.menu-liste .menu-liste--details {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 0 12px 12px;
  margin: 3px;
}

.menu-liste__enplus {
  display: flex;
}

.menu-liste__enplus .menu-liste__enplus--prix {
  font-weight: bold;
  align-self: flex-end;
  margin-right: 20px;
}

.menu-liste__enplus .menu-liste__enplus--checkbox {
  color: white;
  background-color: #99E2D0;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 20px 20px 0;
  width: 0;
  height: 100%;
  transition-duration: 0.4s;
}

.menu-liste:hover .menu-liste__enplus--checkbox {
  width: 80px;
  transition-duration: 0.7s;
}

.menu-liste:hover i {
  transform: rotate(360deg);
  transition-duration: 0.8s;
}

.menu-anim-1 {
  animation-delay: 200ms;
}

.menu-anim-2 {
  animation-delay: 600ms;
}

.menu-anim-3 {
  animation-delay: 1000ms;
}

@media screen and (min-width: 1024px) {
  .menu-restaurant__carte {
    display: flex;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1024px) {
  .menu-restaurant__carte2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.menu-liste__bouton {
  text-align: center;
  padding: 25px 12px 0 0;
}

.menu-liste__bouton--order {
  width: 180px;
}
